
		
		<h1>All users</h1>
		
		
		
	

		<div class="container"  ng-repeat="user in users">
    <div class="row">
		<div class="col-md-4">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="go" ng-click="go_profile(user.login);" class="media-heading">{{user.username}}</h4>
                		<h5 class="media-heading">{{user.birth}}</h5>
                		<h4 class="media-heading">{{user.email}}</h4>

                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>


